@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}
 
.container{
    display: flex;
}

.left{
    width: 25vw;
}

.close{
    display: none;
}

.home ul li{
    width: 14px;
    list-style: none;
    display: flex;
    padding-top: 14px;
    gap: 15px;
    font-weight: bold;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo p, b {
    color: #494646;
}

.logo b,a {
    cursor: pointer;
    color: #494646;
}

.heading{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 14px;
    padding: 23px 14px;
    gap: 15px;
    font-weight: bold;
    font-size: 13px;
}

.heading img{
    width: 30px;
}


.library{
    min-height: 80vh;
    position: relative;
}

.songlist{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songlist .info{
    font-size: 13px;
    width: 344px;
}

.info{
    word-break: break-all;
}

.songlist ul{
    padding: 0 12px;
}

.songlist ul li{
    list-style-type:decimal ;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 13px; 
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a{
    color: gray;
}

.right{
    width: 75vw;
    margin: 10px 0;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    /* border-bottom: 2px solid black; */
}

.header>* {
    padding: 20px;
}

.hamburgerCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.hamburger{
    display: none;
}

.buttons > *{
    margin: 0 12px;
}

.signupbtn{
    background-color: #262626;
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color: black;
    font-size: 16px;
    padding: 10px;   
    width: 79px;
    cursor: pointer;
    border: none;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.spotify-playlist{
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 60vh;
    overflow-y: auto;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card > *{
    padding-top: 5px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 17px;
    z-index: 1;
    opacity: var(--a);
    transition: all 1s ease-in-out;
}


.playbar{
    min-height: 40px;
    position: fixed;
    bottom: 30px;
    background-color: #dee7e2;
    width: 70vw;
    padding: 12px;
    border-radius: 10px;
    right: 25px;
}

.seekbar{
    height: 4px;
    width: 69vw;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #121212;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.songinfo{
    width: 200px;
}

.timenvol{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-right: 10px;
} 

#vol{
    cursor: pointer;
}

.songinfo, .songtime{
    color: #252525;
    padding: 0 12px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.songbuttons img{
    cursor: pointer;
}

@media (max-width: 1300px) {
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        padding: 0;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .close{
        display: block;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
        width: calc(100vw - 75px);
    }

    .seekbar{
        width: calc(100vw - 80px);
    }

    .hamburger{
        display: block;
    }

    .card{
        width: 44vw;
    }

    .cardContainer{
        margin: 0;
        justify-content: center;
    }

    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .songinfo, .songtime{
        width: auto;
    }
}

@media (max-width: 400px){
    .card{
        width: 64vw;
    }
}